.intro {
  margin: 0 auto;
  background-color: #c7f4c5;
  display: flex;
}


.introTitle {
  font-family: 'RobotoNormal';
  font-weight: 100;
  font-size: 48px;
  text-align: center;
  letter-spacing: 3px;
}

.introDescription {
  font-family: 'RobotoNormal';
  font-weight: 100;
  font-size: 24px;
  text-align: center;
  letter-spacing: 3px;
}
